<launch>

   <group ns="all">
     <node pkg="line_follower" name="toUSB" type="writer.py"/>
     <node pkg="line_follower" name="control" type="control.py"/>
     <node pkg="apriltag_detector" name="detectTag" type="detector.py"/>
     <node pkg="apriltag_detector" name="getImage" type="image_mod.py"/>
   </group>

 </launch>
